<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Proyecto.css">
    <script>
</script>
</head>
<header>
    <div class="container">
        <a href="/Proyecto.html" style="font-size: 50px;"><em>Talento Joven!</em></a>
        <p class="Logo2"><img src="../Imagenes/uni2.jpg" alt="Logo" width="30%"></p>
        <nav>
            <a onclick="goToSection('Somospro')">Quienes Somos</a>
            <a onclick="goToSection('nuestras-profesiones')">Nuestras Profesiones</a>
            <a onclick="goToSection('Caracteristicas')">Caracteristicas</a>
            <a href="/template/loginyregister.html">Unete a Nosotros</a>
            <a href="/template/dashboard.html">Dashboard</a>
        </nav>
        <div id="usuario-saludo" class="text-end mt-3"></div>
    </div>
</header>

<body>

</body>

</html>