<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/058b4c6e59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/Footer.css">
</head>
<body>
    
</body>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#"></a>
                <img src="../Imagenes/Uni2Dark2.png" alt="Logo Uni2">
            </figure>
        </div>
        <div class="box">   
            <h2 class="Titulos-Footer">SOBRE NOSOTROS</h2>
            <p>Somos una creación emprendedora que une personas con profesionales, no solo para el uso de sus servicios, sino tambien para crecer en un ambiente de convivencia.</p>
            <p>Ten la agradable experiencia de ser usuario o profesional prestador de servicios, para concectar con personas en un ambiente de crecimiento</p>
        </div>
        <div class="box">
            <h2 class="Titulos-Footer">SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2025 <b>Sitio de trabajo</b> -Todos los derechos reservados</small>
    </div>
</footer>
</html>